<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../img/logo.ico">
    <link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/regist.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/personal.css">
    <title>新时空智能系统</title>
</head>
<style>
    body {
        background-color: #ffffff;
    }

    .checkBtn {
        background-color: #e6e6e6;
    }

    .layOut {
        border-top: 1px solid #e7e7e7;
        padding: 20px 30px 30px;
    }

    .layOut .dashboard .input-group-btn .btn {
        margin-top: -2px;
    }

    .layOut .dashboard .moduleContainer .btns {
        margin-top: 20px;
    }

    .layOut .dashboard .moduleContainer .equipmentTable {
        cursor: pointer;
        margin-top: 12px;
        border: 1px solid #e7e7e7;
    }

     /* 分页 */
     .page_div {
        margin: 30px 10px 20px 0;
        text-align: center;
        color: #666
    }

    /* 页数按钮样式 */

    .page_div button {
        display: inline-block;
        min-width: 30px;
        height: 28px;
        cursor: pointer;
        color: #666;
        font-size: 13px;
        line-height: 28px;
        background-color: #f9f9f9;
        border: 1px solid #dce0e0;
        text-align: center;
        margin: 0 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #firstPage,
    #lastPage,
    #nextPage,
    #prePage {
        width: 50px;
        color: #0073A9;
        border: 1px solid #0073A9
    }

    #nextPage,
    #prePage {
        width: 70px
    }

    .page_div .current {
        background-color: #0073A9;
        border-color: #0073A9;
        color: #FFF
    }

    /* 页面数量 */

    .totalPages {
        margin: 0 10px
    }

    .totalPages span,
    .totalSize span {
        color: #0073A9;
        margin: 0 5px
    }

    /*button禁用*/

    .page_div button:disabled {
        opacity: .5;
        cursor: no-drop
    }
</style>
<body>
    <header class="header clearfix">
        <div class="topUp fl">
            <a href="../Home/index.html" class="logo_bg">
                <img src="../../img/logo.png" alt="">
            </a>
            <ul class="menusBox">
                <li class="menus">
                    <a href="../Home/index.html">首页</a>
                </li>
                <!-- <li class="menus">
                    <a href="javascript:void(0)">渠道管理</a>
                </li> -->
                <!-- <li class="menus">
                    <a href="javascript:void(0)">设备管理</a>
                </li> -->
                <li class="menus">
                    <a href="../Flow/flowList.html">流量管理</a>
                </li>
                <li class="menus">
                    <a href="../Order/trafficRecord.html">订单管理</a>
                </li>
                <!-- <li class="menus">
                    <a href="javascript:void(0)">统计报表</a>
                </li> -->
            </ul>
        </div>
        <div class="topDown">
            <span class="dropDown">
                <span class="glyphicon glyphicon-bell"></span>
                <span class="userName"></span>
                <img class="userIcon"  src="../../img/userIcon07.png" alt="">
            </span>
            <div class="userBox">
                <ul>
                    <li>
                        <a href="../Personal/userCenter.html">个人中心</a>
                    </li>
                    <li>
                        <a href="../Personal/login.html">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="layOut personCenter">
        <div class="containerInner clearfix">
            <div class="left_nav fl">
                <ul class="navBox">
                    <li class="navItem">
                        <span class="title">
                            <img  src="../../img/icons/icon_zhanghu.png" alt="" class="icons">
                            <span class="text">账户管理</span>
                        </span>
                        <ul class="subMenus">
                            <li><a href="./userCenter.html" class="">基本信息</a></li>
                            <li><a href="./userAccount.html" class="">用户管理</a></li>
                            <li><a href="./groupManagement.html" class="active">分组管理</a></li>
                        </ul>
                    </li>
                    <li class="navItem">
                        <span class="title">
                            <img src="../../img/icons/icon_zichan.png" alt="" class="icons">
                            <span class="text">资产管理</span>
                        </span>
                        <ul class="subMenus">
                            <li><a href="javascript:void(0)">我的钱包</a></li>
                            <li><a href="javascript:void(0)">充值记录</a></li>
                        </ul>
                    </li>
                    <li class="navItem">
                        <span class="title">
                            <img src="../../img/icons/icon_xiaoxi.png" alt="" class="icons">
                            <span class="text">消息通知</span>
                        </span>
                        <ul class="subMenus">
                            <li><a href="./messageController.html">未读消息</a></li>
                            <li><a href="javascript:void(0)">已读消息</a></li>
                            <li><a href="javascript:void(0)">消息接收管理</a></li>
                        </ul>
                    </li>
                    <li class="navItem">
                        <span class="title">
                            <img src="../../img/icons/icon_API.png" alt="" class="icons">
                            <span class="text">API管理</span>
                        </span>
                        <ul class="subMenus">
                            <li><a href="./apiList.html">API管理</a></li>
                        </ul>
                    </li>
                    <li class="navItem">
                        <span class="title">
                            <img src="../../img/icons/icon_API.png" alt="" class="icons">
                            <span class="text">日志管理</span>
                        </span>
                        <ul class="subMenus">
                            <li><a href="javascript:void(0)">操作日志</a></li>
                            <li><a href="javascript:void(0)">异常日志</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right_content">
                <div class="contentBox">
                    <div class="bindInfo">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>企业编号</th>
                                    <th>企业名称</th>
                                    <th>业务负责人</th>
                                    <th>负责人电话</th>
                                    <th>负责人邮箱</th>
                                    <th>企业地址</th>
                                    <th>企业主账户</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>NTS_82110616</td>
                                    <td>深圳新时空智能系统</td>
                                    <td>邵先生</td>
                                    <td>18603059551</td>
                                    <td>shaoying@ntsitech.com</td>
                                    <td>深圳市福田区爱地大厦西座21D</td>
                                    <td>ntsitech</td>
                                    <td>2020-02-05 21:41:30</td>
                                    <td>
                                        <!-- 添加设备分组 -->
                                        <button class="addDeviceGroup_btn optionBtn">添加设备分组</button> 
                                        <!-- 添加设备类型 -->
                                        <button class="addDeviceType_btn optionBtn">添加设备类型</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <!-- 添加设备分组弹窗 -->
    <div class="addDeviceGroup_dialog messageDialog" id="addDeviceGroup_dialog">
        <label for="groupName" class="deviceItem deviceItem1">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- groupName: -->
                分组名称:
            </span>
            <input type="text" id="groupName" class="deviceItem_content groupName fr" placeholder="请输入设备分组名称">
        </label>
        <label for="orderNumGroup" class="deviceItem deviceItem2">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- orderNum: -->
                显示顺序:
            </span>
            <input type="text" id="orderNumGroup" class="deviceItem_content orderNumGroup fr" placeholder="请输入设备分组显示顺序">
        </label>
        <label for="parentId" class="deviceItem deviceItem1">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- parentId: -->
                父分组ID:
            </span>
            <input type="text" id="parentId" class="deviceItem_content parentId fr" placeholder="请输入父分组ID">
        </label>
        <label for="groupDesc" class="deviceItem deviceItem2">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- groupDesc: -->
                分组描述:
            </span>
            <input type="text" id="groupDesc" class="deviceItem_content groupDesc fr" placeholder="请输入分组描述">
        </label>
        <button class="confirm_btn optionBtn confirmDeviceGroupBtn fr">确定</button>
        <button class="cancel_btn optionBtn  cancelDeviceGroupBtn fr">取消</button>
    </div>

    <!-- 添加设备类型弹窗 -->
    <div class="addDeviceType_dialog messageDialog" id="addDeviceType_dialog">
        <label for="className" class="deviceItem deviceItem1">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- className: -->
                类型名称:
            </span>
            <input type="text" id="className" class="deviceItem_content className fr" placeholder="请输入添加设备类型名称">
        </label>
        <label for="orderNumType" class="deviceItem deviceItem2">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- orderNum: -->
                显示顺序:
            </span>
            <input type="text" id="orderNumType" class="deviceItem_content orderNumType fr" placeholder="请输入设备类型显示顺序">
        </label>
        <label for="classDesc" class="deviceItem deviceItem1">
            <span class="deviceItem_title fl">
                <span class="requireFlag">*</span>
                <!-- classDesc: -->
                类型描述:
            </span>
            <input type="text" id="classDesc" class="deviceItem_content classDesc fr" placeholder="请输入绑定手机号码">
        </label>
        <button class="confirm_btn optionBtn confirmDeviceTypeBtn fr">确定</button>
        <button class="cancel_btn optionBtn  cancelDeviceTypeBtn fr">取消</button>
    </div>
</body>
</html>
<script src="../../lib/jQuery/jquery-3.4.0.js"></script>
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../lib/layer-v3.1.1/layer/layer.js"></script>
<script src="../../lib/pageMe.js"></script>
<script src="../../js/common.js"></script>

<script>
    $(function() {
        // 登录判断
        var isLogin= JSON.parse(localStorage.getItem('userInfo'))
        if(isLogin === null) {
            window.location.href= '../Personal/login.html';
        }


        // (1.1) 点击添加设备分组按钮弹框
        jQuery('.addDeviceGroup_btn').on('click',function(){
            layer.open({
                type: 1,
                title: '添加设备分组',
                area: ['500px', '350px'], //宽高
                content: jQuery('.addDeviceGroup_dialog')
            })
        })

        // (2.1) 点击添加设备类型按钮弹窗
        jQuery('.addDeviceType_btn').on('click',function(){
            layer.open({
                type: 1,
                title: '添加设备类型',
                area: ['500px', '300px'], //宽高
                content: jQuery('.addDeviceType_dialog')
            })
        })
        
        // (1.2) 点击添加设备分组确定按钮,发送添加设备分组方法
        jQuery('.confirmDeviceGroupBtn').on('click',function(){
            var deviceGroupInfo= {
                groupDesc: jQuery('#groupDesc').val(),       
                groupName: jQuery('#groupName').val(),           
                orderNum: jQuery('#orderNumGroup').val(),        
                parentId: jQuery('#parentId').val()
            }
            deviceGroupInfo= JSON.stringify(deviceGroupInfo);
            add_deviceGroup(deviceGroupInfo);
        })
        // (2.2) 点击添加设备类型确定按钮,发送添加设备类型方法
        jQuery('.confirmDeviceTypeBtn').on('click',function(){
            var deviceClassTypeInfo= {
                className: jQuery('#className').val(),   // 类型名称     
                orderNum: jQuery('#orderNumType').val(),    // 显示顺序       
                classDesc: jQuery('#classDesc').val()      // 类型描述
            }
            deviceClassTypeInfo= JSON.stringify(deviceClassTypeInfo);
            add_deviceClassType(deviceClassTypeInfo);
        })

        // (1.3) 点击添加设备分组取消按钮 
        jQuery('.cancelDeviceGroupBtn').on('click',function(){
            layer.closeAll();
        })
        // (2.3) 点击添加设备类型取消按钮 
        jQuery('.cancelDeviceTypeBtn').on('click',function(){
            layer.closeAll();
        })

        // (1.4) 添加设备分组方法封装
        function add_deviceGroup(params){
            jQuery.ajax({
                url: baseUrl+'app/group/add',
                type: 'post',
                contentType: 'application/json',
                headers: {
                    "token": JSON.parse(localStorage.getItem('userInfo')).token
                },
                data: params,
                success: function(res) {
                    if(res.code == 0) {
                        layer.msg('添加设备分组成功')
                    }else {
                        layer.msg(res.msg,function(){
                            layer.closeAll();
                        });
                    }
                },
                error: function(err) {
                    layer.msg(err.msg)
                }
            })
        }
        // (2.4) 添加设备类型方法封装
        function add_deviceClassType(params){
            jQuery.ajax({
                url: baseUrl+'app/deviceClass/add',
                type: 'post',
                contentType: 'application/json',
                headers: {
                    "token": JSON.parse(localStorage.getItem('userInfo')).token
                },
                data: params,
                success: function(res) {
                    if(res.code == 0) {
                        layer.msg('添加设备类型成功')
                    }else {
                        layer.msg(res.msg,function(){
                            layer.closeAll();
                        });
                    }
                },
                error: function(err) {
                    layer.msg(err.msg)
                }
            })
        }
    })

</script>